
<!DOCTYPE html>
<html>
    <body>
        <head>
            <!-- CSS -->
            <link href="/lib/font-awesome/css/all.css" rel="stylesheet">
            <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
            <link href="/lib/jquery.ui/jquery-ui.css" rel="stylesheet">
            <link href="/lib/jquery.ui/jquery-ui.theme.css" rel="stylesheet">
            <link href="/styles/style.css" rel="stylesheet">
            <title>의료데이터 거래소 관리자 페이지</title>
            <script src="https://d3js.org/d3.v5.min.js"></script>
            <link rel="stylesheet" href="/styles/billboard.css">
            <script src = "/public/billboard.js"></script>
        </head>
        <body>
            <h2>월별 병원의 PHR 송신 건수</h2>
            <div id="chart1"></div>
            <select id="year" autofocus>
                <option value="">Select Year</option>
                <option value="19">2019</option>
                <option value="20">2020</option>
                <option value="21">2021</option>
            </select>
            <select id="month" autofocus>
                    <option value="">Select Month</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            <input class="btn btn-green btn-30 w60" value="조회" type="button" style="font-weight:normal;"
                onclick="searchData()"
            />
            <h2>기관별 요청, 응답건수</h2>
            <div id="chart2"></div>
            <h2>기관별 마감율</h2>
            <div><div id="chart3"> </div> <div id="chart4"></div> <div id="chart5"></div> </div>
            
            
            

        </body>
</html>
<!-- jQuery -->
<script src="/lib/jquery-3.3.1/jquery-3.3.1.js"></script>
<script>
    
$(function(){
    // data1
    var tmp_x = '<%= data1.x%>';
    var tmp_chung = '<%= data1.chung%>';
    var tmp_char = '<%= data1.char%>';
    var tmp_seoul = '<%= data1.seoul%>';
    var x = tmp_x.split(',');
    var chung = tmp_chung.split(',');
    var char = tmp_char.split(',');
    var seoul = tmp_seoul.split(',');

    var chart1 = bb.generate({
        bindto: "#chart1",
        data: {
            x:'x',
            types: {
                '충남대병원': "bar",
                '분당차병원': "bar",
                '분당서울대병원': "bar"},
            columns: [x,char,seoul, chung]
        },
        axis: {
            x:{
                type:'category',
                // type:'timeseries',
            //     tick:{
            //         format:'%y-%m-%d'
            // }
            }
        }
    });
    chart1.groups([['충남대병원', '분당차병원','분당서울대병원']]);

// data2
    var tmp_x = '<%= data2.x%>';
    var tmp_requireCnt = '<%= data2.requireCnt%>';
    var tmp_responseCnt = '<%= data2.responseCnt%>';
    var x = tmp_x.split(',');
    var requireCnt = tmp_requireCnt.split(',');
    var responseCnt = tmp_responseCnt.split(',');
    var chart2 = bb.generate({
        bindto: "#chart2",
        data: {
            x:'x',
            type: 'bar',
            columns: [x,requireCnt,responseCnt]
        },
        axis: {
            x:{
                type:'category',
            }
        }
    });

});

// data3
    var cri = '<%=data3.cri%>'.split(',');
    // var cri_RequireCnt = cri_ResposeCnt.splice(2,4);
    var dc = '<%=data3.dc%>'.split(',');
    // var dc_RequireCnt = dc_ResposeCnt.splice(2,4);
    var ic = '<%=data3.ic%>'.split(',');
    // var ic_RequireCnt = ic_ResposeCnt.splice(2,4);

    var chart3 = bb.generate({
        data:{
            bindto: "#chart3",
            columns:[
                cri
            ],
            type:'gauge',
        }

    });
    var chart3 = bb.generate({
        data:{
            bindto: "#chart4",
            columns:[
                dc
            ],
            type:'gauge',
        }

    });
    var chart3 = bb.generate({
        data:{
            bindto: "#chart5",
            columns:[
                ic
            ],
            type:'gauge',
        }

    });

</script>

<script type="text/javascript">
    function searchData(){

        var year = $('#year').val();
        var month = $('#month').val();
        
        location.href='/admin/admin/'+year+'/'+month
    }
</script>