
<!DOCTYPE html>
<html>
    <body>
        <head>
            <title>billboard</title>
            <script src="https://d3js.org/d3.v5.min.js"></script>
            <link rel="stylesheet" href="/styles/billboard.css">
            <script src = "/public/billboard.js"></script>
        </head>
        <body>
            <h2>월별 병원의 PHR 송신 건수</h2>
            <div id="chart1"></div>
            <h2>기관별 요청, 응답건수</h2>
            <div id="chart2"></div>
            <h2>기관별 마감율</h2>
            <div><div id="chart3"> </div> <div id="chart4"></div> <div id="chart5"></div> </div>
            
            
            

        </body>
</html>
<!-- jQuery -->
<script src="/lib/jquery-3.3.1/jquery-3.3.1.js"></script>
<script>
    
$(function(){
    // data1
    var tmp_x = '<%= data1.x%>';
    var tmp_chung = '<%= data1.chung%>';
    var tmp_char = '<%= data1.char%>';
    var tmp_seoul = '<%= data1.seoul%>';
    var x = tmp_x.split(',');
    var chung = tmp_chung.split(',');
    var char = tmp_char.split(',');
    var seoul = tmp_seoul.split(',');

    var chart1 = bb.generate({
        bindto: "#chart1",
        data: {
            x:'x',
            types: {
                '충남대병원': "bar",
                '분당차병원': "bar",
                '분당서울대병원': "bar"},
            columns: [x,char,seoul, chung]
        },
        axis: {
            x:{
                type:'category',
                // type:'timeseries',
            //     tick:{
            //         format:'%y-%m-%d'
            // }
            }
        }
    });
    chart1.groups([['충남대병원', '분당차병원','분당서울대병원']]);

// data2
    var tmp_x = '<%= data2.x%>';
    var tmp_requireCnt = '<%= data2.requireCnt%>';
    var tmp_responseCnt = '<%= data2.responseCnt%>';
    var x = tmp_x.split(',');
    var requireCnt = tmp_requireCnt.split(',');
    var responseCnt = tmp_responseCnt.split(',');
    var chart2 = bb.generate({
        bindto: "#chart2",
        data: {
            x:'x',
            type: 'bar',
            columns: [x,requireCnt,responseCnt]
        },
        axis: {
            x:{
                type:'category',
            }
        }
    });

});

// data3
    var cri_ResposeCnt = '<%=data3.cri%>'.split(',');
    // var cri_RequireCnt = cri_ResposeCnt.splice(2,4);
    var dc_ResposeCnt = '<%=data3.dc%>'.split(',');
    // var dc_RequireCnt = dc_ResposeCnt.splice(2,4);
    var ic_ResposeCnt = '<%=data3.ic%>'.split(',');
    // var ic_RequireCnt = ic_ResposeCnt.splice(2,4);

    console.log(cri_ResposeCnt);
    console.log(dc_ResposeCnt);
    console.log(ic_ResposeCnt);
    // console.log(cri_RequireCnt);
    // console.log(dc_RequireCnt);
    // console.log(ic_RequireCnt);

    var chart3 = bb.generate({
        data:{
            bindto: "#chart3",
            columns:[
                cri_ResposeCnt
            ],
            type:'gauge',
        }

    });
    var chart3 = bb.generate({
        data:{
            bindto: "#chart4",
            columns:[
            dc_ResposeCnt
            ],
            type:'gauge',
        }

    });
    var chart3 = bb.generate({
        data:{
            bindto: "#chart5",
            columns:[
            ic_ResposeCnt
            ],
            type:'gauge',
        }

    });

function getData(){
    var chart = bb.generate({
        bindto: "#chart",
        data: {
            types: {
                data1: "line",
                data2: "spline"},
            columns: [
                ["data1", 30, 200, 100, 170, 150, 250],
                ["data2", 130, 100, 140, 35, 110, 50]
            ]
        }
    });
    var chart2 = bb.generate({
        bindto: "#chart2",
        data: {
            types: {
                data1: "step",
                data2: "area"},
            columns: [
                ["data1", 30, 200, 100, 170, 150, 250],
                ["data2", 130, 100, 140, 35, 110, 50]
            ]
        }
    });
    var chart3 = bb.generate({
        bindto: "#chart3",
        data: {
            types: {
                data1: "area-spline",
                data2: "area-step"},
            columns: [
                ["data1", 30, 200, 100, 170, 150, 250],
                ["data2", 130, 100, 140, 35, 110, 50]
            ]
        }
    });
    var chart4 = bb.generate({
        bindto: "#chart4",
        data: {
            x:'x',
            types: {
                data1: "bar",
                data2: "bar"},
            columns: [ 

            ]
        },
        axis:{
            x:{
                type:'timeseries',
                tick:{
                    format:'%y-%m-%d'
                }
            }
        }
    });
    chart4.groups([['data1', 'data2']]);
    var chart5 = bb.generate({
        bindto: "#chart5",
        data: {
            
            types: {
                data1: "donut",
                data2: "gauge"},
            columns: [
                ["data1", 30, 200, 100, 170, 150, 250],
                ["data2", 130, 100, 140, 35, 110, 50]
            ]
        }
    });
}
</script>