<!doctype html>
<html lang="ko">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- favicon -->
		<link rel="shortcut icon" href="/images/favicon/favicon.ico">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" href="/images/favicon/apple-icon-57x57.png">
	
	    <title>데이터 거래소 시스템</title>
	    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
	    
	    <!-- CSS -->
	    <link href="/lib/font-awesome/css/all.css" rel="stylesheet">
	    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/styles/style.css" rel="stylesheet">
	</head>
	
	<body>
	    <header>
	        <div class="user-area">
	        	<div class="container">
	        		<h3 class="user-info"><i class="fa fa-user-circle"></i> Welcome <span id="userNm"> user01</span></h3>
	        		<a class="btn btn-white outline btn-25" href="/user/logout">Logout</a>
	        	</div>
	        	
	        </div>
	        <div class="nav-area">
	        	<div class="container">
	        		<h1><img src="/images/common/logo.png" alt="KODA 메디칼 데이터 거래소 및 분석 시스템"></h1>
	        		<nav id="mainGnb">
	        			<ul>
	                        <li class="active"><a href="javascript:void(0)"><i class="fab fa-stack-overflow"></i>Status of participant</a></li>
	                    </ul>
	        		</nav>
        		</div>
        	</div>
	    </header>
	    
	    <div class="container">
	    	<h2 class="sub-title">
				<span>Status of participant</span>
			</h2>

            <table class="list-table" id="dataTable">
	            <thead>
	                <tr align="center">
	                    <th width="8%" >Number</th>
	                    <th width="14%">Participant</th>
	                    <th width="10%">Type</th>
	                    <th width="10%">Applicable number</th>
	                    <th width="12%">Request Date</th>
	                    <th width="12%">Deadline</th>
	                    <th width="12%">Status</th>
	                    <th width="10%">Participation status</th>
	                    <th width="12%">Detail</th>
	                </tr>
	            </thead>
	            <tbody>
	                <% requestdetail.forEach(function(requestdetail){ %>
	                <tr>
	                    <td><%= requestdetail.num %></td>
	                    <td><%= requestdetail.com_nm %></td>
	                    <td><%= requestdetail.request_purpose%></td>
	                    <td><%= requestdetail.request_cnt %></td>
	                    <td><%=requestdetail.request_dt%></td>
	                    <td><%=requestdetail.deadline%></td>
	                    <!--<% if (requestdetail.accept_yn=='N'){ %>
	                     <td>
	                        미승인
	                    </td>
	                    <%}else{%>
	                    <td>승인완료</td>
						<%}%> -->
						<% if (requestdetail.finish_yn=='P'){ %>
							<td class="color_lblue">Proceeding</td>
						<%}else if(requestdetail.finish_yn=='F'){%>
							<td class="color_red">Incomplete</td>
						<%}else if(requestdetail.finish_yn=='N'){%>
							<td class="color_lblue">Ready for request</td>
						<%}else if(requestdetail.finish_yn=='Y'){%>
							<td class="color_dgreen">Complete</td>
						<%}else{%>
							<td>-</td>
						<%}%>	
                        <!-- <td class="color_gray">마감</td>
						<td class="color_red">미완료</td>  -->   
						<% if (requestdetail.participation_yn=='Y'){ %>
							<td><i class="fa fa-check color_dgreen"></i></td>
						<%}else{%>
							<td></td>
						<%}%>
                        <td><a href="acceptRequestDetail/<%=requestdetail.num%>/<%=requestdetail.param_sex%>/<%=requestdetail.param_ageFrom%>/<%=requestdetail.param_bmiFrom%>/<%=requestdetail.param_systoleFrom%>/<%=requestdetail.param_relaxFrom%>/<%=requestdetail.param_astFrom%>/<%=requestdetail.param_altFrom%>/<%=requestdetail.reward_desc%>/<%=requestdetail.request_purpose%>/<%=requestdetail.finish_yn%>/<%=requestdetail.deadline%>/<%=requestdetail.request_cnt%>/<%=requestdetail.require_cnt%>/<%=requestdetail.request_dt%>/<%=requestdetail.participation_yn%>" class="btn btn-purple btn-25">View</a></td>
	                </tr>
	                <%});%>
	            </tbody>
	        </table>
        
        	<div class="pagination-area">
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li class="disabled">
						  <a href="<%= paginate.href(true) %>" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
						</li>
						<% pages.forEach(function(page){ %>
						<li class="<%= paginate.page == page.number ? 'active' : ''%>">
							<a href="<%= page.url %>"><%= page.number %></a>
						</li>
						<%})%> <%if(paginate.hasNextPages(pageCount)){%>
						<li>
							<a href="<%= paginate.href() %> " aria-label="Next">  
						    <span aria-hidden="true">&raquo;</span>
						  </a>
						</li>
						<%}%>
					</ul>
				</nav>
			</div>
		</div>
	</body>
</html>