
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>데이터 거래소 시스템</title>
    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
        <!-- CSS -->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/sm.css">
    <link rel="stylesheet" href="/styles/lg.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="/styles/main.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/script.js"></script>

</head>
<body>
    <header id="main_header">
            <hgroup id="title">
                <h1>데이터 거래소 시스템</h1>
                <h2>http://localhost:8080/login</h2>
            </hgroup>
            <nav id="main_lnb">
                <ul>
                    <li><a href="/user/logout">로그아웃</a></li>
                    <!-- <li><a href="/company/searchPhr">PHR 신청</a></li>
                    <li><a href="/company/requestData">PHR 신청현황</a></li> -->
                </ul>
            </nav>
    </header>

    <div id="content">
            <br>
        <section id="main_section">

            <table class="table-style" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr align="center">
                            <th width="2%" >번호</th>
                            <th width="8%">회사명</th>
                            <th width="5%">사용목적</th>
                            <th width="8%">요청일</th>
                            <th width="5%">승인여부</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% requestdetail.forEach(function(requestdetail){ %>
                        <tr>
                            <td><%= requestdetail.num %></td>
                            <td><%= requestdetail.com_nm %></td>
                            <td><%=requestdetail.request_purpose%></td>
                            <td><%=requestdetail.request_dt%></td>
                            <% if (requestdetail.accept_yn=='N'){ %>
                            <td>
                                <!-- <input class="btn btn-sm btn-border btn-sky" type="button" value="승인" onclick="" />   -->
                                미승인
                            </td>
                            <%}else{%>
                            <td>승인완료</td>
                            <%}%>
                        </tr>
                        <%});%>
                    </tbody>
                </table>
        </section>
    </div>
    <div class="pagination-wrap">
            <ul class="pagination">
                <li class="pagination-prev">
                    <a href="<%= paginate.href(true) %>" aria-label="Previous"></a>
                </li>
                <% pages.forEach(function(page){ %>
                <li class="<%= paginate.page == page.number ? 'active' : ''%>">
                    <a href="<%= page.url %>"><%= page.number %></a>
                </li>
                <%})%> <%if(paginate.hasNextPages(pageCount)){%>
                <li class="pagination-next">
                    <a href="<%= paginate.href() %>"></a>
                </li>
                <%}%>
            </ul>
        </div>
    <footer></footer>
</body>
</html>