<!doctype html>
<html lang="ko">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- favicon -->
		<link rel="shortcut icon" href="/images/favicon/favicon.ico">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" href="/images/favicon/apple-icon-57x57.png">
	
	    <title>데이터 거래소 시스템</title>
	    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
	    
	    <!-- CSS -->
	    <link href="/lib/font-awesome/css/all.css" rel="stylesheet">
	    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <link href="/lib/jquery.ui/jquery-ui.css" rel="stylesheet">
	    <link href="/lib/jquery.ui/jquery-ui.theme.css" rel="stylesheet">
		<link href="/styles/style.css" rel="stylesheet">
	</head>
	<body>
	    <header>
	        <div class="user-area">
	        	<div class="container">
	        		<h3 class="user-info"><i class="fa fa-user-circle"> </i>Welcome <span id="userNm"> user01</span></h3>
	        		<a class="btn btn-white outline btn-25" href="/user/logout">Logout</a>
	        	</div>
	        	
	        </div>
	        <div class="nav-area">
	        	<div class="container">
	        		<h1><img src="/images/common/logo.png" alt="KODA 메디칼 데이터 거래소 및 분석 시스템"></h1>
	        		<nav id="mainGnb">
	        			<ul>
	                        <li class="active"><a href="javascript:void(0)"><i class="fab fa-stack-overflow"></i>Detail status of participant</a></li>
	                    </ul>
	        		</nav>
        		</div>
        	</div>
	    </header>
	    
	    <div class="container">
	    	<h2 class="sub-title">
				<span>Status of participation Detail</span>
			</h2>
			
			<h3 class="small-title">Current status of medical data application</h3>
			<table class="form-table">
				<caption>Research Application Status</caption>
				<colgroup>
					<col style="width:12%;" />
					<col style="width:38%;" />
					<col style="width:12%;" />
					<col style="width:38%;" />
				</colgroup>
				<tbody>
					<tr>
						<th>Type</th>
						<td><%=requestdetail.purpose%></td>
						<th>Status</th>
						<% if (requestdetail.finishYn=='P'){ %>
							<td class="color_lblue">Proceeding</td>
						<%}else if(requestdetail.finishYn=='F'){%>
							<td class="color_red">Incomplete</td>
						<%}else if(requestdetail.finishYn=='N'){%>
							<td class="color_lblue">Ready for request</td>
						<%}else if(requestdetail.finishYn=='Y'){%>
							<td class="color_dgreen">Complete</td>
						<%}else{%>
							<td>-</td>
						<%}%>	
                        <!-- <td class="color_gray">마감</td>
                        <td class="color_red">미완료</td>  -->   
					</tr>
					<tr>
						<th>Request Date</th>
						<td><%=requestdetail.requestDt%></td>
						<th>Deadline</th>
						<td><%=requestdetail.deadLine%></td>
					</tr>
					<tr>
						<th>Applicable number</th>
						<td><%=requestdetail.requestCnt%></td>
						<th>Request number</th>
						<td><%=requestdetail.requireCnt%></td>
					</tr>
					<tr>
						<th>Status of participant</th>
						<% if (requestdetail.participationYn=='Y'){ %>
							<td><i class="fa fa-check color_dgreen"></i></td>
						<%}else{%>
							<td></td>
						<%}%>
					</tr>
				</tbody>
			</table>
			
			<h3 class="small-title tm60">Conditions</h3>
			<table class="form-table">
				<caption>Conditions</caption>
				<colgroup>
					<col style="width:12%;" />
					<col style="width:38%;" />
					<col style="width:12%;" />
					<col style="width:38%;" />
				</colgroup>
				<tbody>
					<tr>
						<th>Number</th>
						<td><%= requestdetail.num %></td>
						<th>Gender</th>
						<td><%= requestdetail.sex %></td>
					</tr>
					<tr>
						<th>Age</th>
						<td>more then <%= requestdetail.ageFrom %></td>
						<th>BMI</th>
						<td> more then <%= requestdetail.bmiFrom %></td>
					</tr>
					<tr>
						<th>Systolic blood pressure</th>
						<td>more then <%= requestdetail.systoleFrom %> </td>
						<th>Diastolic blood pressure</th>
						<td>more then <%= requestdetail.relaxFrom %></td>
					</tr>
					<tr>
						<th>AST</th>
						<td>more then <%= requestdetail.astFrom %>  </td>
						<th>ALT</th>
						<td>more then <%= requestdetail.altFrom %> </td>
					</tr>
					<tr>
						<th>Rewards</th>
						<td colspan="3" style="height:80px; vertical-align:top;">	
							<%= requestdetail.rewardDesc %>
						</td>
					</tr>
				</tbody>
			</table>
							
			<div class="tm60 bm60 tac">
				<a href="/user/acceptRequest" class="btn btn-purple w120">List</a>
				
			</div>
		
		</div>

	    
	    <!-- jQuery -->
		<script src="/lib/jquery-3.3.1/jquery-3.3.1.js"></script>
		<script src="/lib/jquery-migrate/jquery-migrate-3.1.0.min.js"></script>
		<!-- jQuery UI Interactions -->
		<script src="/lib/jquery.ui/jquery-ui.min.js"></script>
		<!-- Bootstrap -->
		<script src="/lib/bootstrap/js/bootstrap.min.js"></script>


	</body>
</html>
