<!doctype html>
<html lang="ko">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- favicon -->
		<link rel="shortcut icon" href="/images/favicon/favicon.ico">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" href="/images/favicon/apple-icon-57x57.png">
	
	    <title>데이터 거래소 시스템</title>
	    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
	    
	    <!-- CSS -->
	    <link href="/lib/font-awesome/css/all.css" rel="stylesheet">
	    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <link href="/lib/jquery.ui/jquery-ui.css" rel="stylesheet">
	    <link href="/lib/jquery.ui/jquery-ui.theme.css" rel="stylesheet">
		<link href="/styles/style.css" rel="stylesheet">
	</head>
	<body>
	    <header>
	        <div class="user-area">
	        	<div class="container">
	        		<h3 class="user-info"><i class="fa fa-user-circle"></i><span id="userNm"><%=userNm%></span>님 반갑습니다</h3>
	        		<a class="btn btn-white outline btn-25" href="/user/logout">로그아웃</a>
	        	</div>
	        	
	        </div>
	        <div class="nav-area">
	        	<div class="container">
	        		<h1><img src="/images/common/logo.png" alt="KODA 메디칼 데이터 거래소 및 분석 시스템"></h1>
	        		<nav id="mainGnb">
	        			<ul>
	                        <li class="active"><a href="/company/searchPhr"><i class="fab fa-wpforms"></i>의료 데이터 신청</a></li>
	                        <li><a href="/company/requestData"><i class="fab fa-stack-overflow"></i>의료 데이터 신청현황</a></li>
	                    </ul>
	        		</nav>
        		</div>
        	</div>
	    </header>
	    
	    <div class="container">
	    	<h2 class="sub-title">
				<span>의료데이터 조회 신청</span>
			</h2>
			<!-- 다이얼로그 버튼 -->
			<div class="bm10 tar">
				<button id="searchDialogBtn" class="btn btn-purple btn-28 w100">조건 추가</button>
			</div>
			<!-- 다이얼로그 버튼 -->
			<form action="/company/searchPhr" method="POST" id="searchPhr">
				
				<!-- start: jQuery Dialog -->
				<div id="searchDialog" title="조회 조건 추가" style="display:none;">
				    <div class="border-checkbox-section">
						<% colInfos.forEach(function(colInfo) { %>
				        <div class="border-checkbox-group border-checkbox-group-purple">
				            <input class="border-checkbox" type="checkbox" id="<%=colInfo.column_name%>" name="searchParams" value="<%=colInfo.column_name%>">
				            <label class="border-checkbox-label" for="<%=colInfo.column_name%>"><%=colInfo.column_comment%></label>
						</div>
						<%})%>
					</div>
				    <div class="tm10 tac">
						<button id="addItemBtn" class="btn btn-purple w100" onclick="genSearchData()">조건 추가</button>
						<button id="cancelBtn" class="btn btn-white w100">취소</button>
					</div>
				</div>
				<!-- end: jQuery Dialog -->
				
				
				<table class="form-table">
					<colgroup>
						<col style="width:12%;" />
						<col style="width:38%;" />
						<col style="width:12%;" />
						<col style="width:38%;" />
					</colgroup>
					<tbody>
						<tr>
							<th>신청용도</th>
							<td>
								<select name="requestPurpose" class="form-control" autofocus>
					                <option value="">신청용도 선택</option>
					                <option value="Marketing">Marketing</option>
					                <option value="Sales">Sales</option>
					                <option value="ETC">Etcetera</option>
					            </select>
							</td>
							<th>마감일자</th>
							<td>
								<input type="text" id="deadLine" class="form-control" name="deadLine" size="20" placeholder="마감일자를 선택하세요"/>
							</td>
						</tr>
						<tr>
							<th>신청건수</th>
							<td><input type="text" id="requireCnt" class="form-control" name="requireCnt" size="30" placeholder="필요한 PHR 건수를 입력하세요."/></td>
							<th rowspan="2">정보제공<br />보상방법</th>
							<td rowspan="2">
								<textarea id="rewardDesc"class="form-control"style="height:80px;" name="rewardDesc" cols="40" placeholder="정보제공에 따른 보상 방법을 입력하세요"></textarea>
							</td>
						</tr>
						<tr>
							<th>성별</th>
							<td>
								 <div class="form-radio">
						            <div class="radio radio-outline radio-inline radio-purple">
						                <label>
						                	<input type="radio" name="sex" id="sex" value="1" checked="checked">
						                    <i class="helper"></i>남자
						                </label>
						            </div>
						            <div class="radio radio-outline radio-inline radio-purple">
						                <label>
						                    <input type="radio" name="sex" id="sex" value="2">
						                    <i class="helper"></i>여자
						                </label>
						            </div>
							    </div>
							</td>
						</tr>
						
						<!-- 추가되는 조건 예시
						<tr>
							<th>나이</th>
							<td><input type="text" name="ageFrom" class="form-control inline-block w100"> 이상</td>
							<th>대상자</th>
							<td>300</td>
						</tr> -->

					</tbody>
				</table>
				
				<div class="tm60 tac">
					<input type="submit" value="신청" class="btn btn-purple w120" style="font-weight:normal;">
				</div>
			</form>
		</div>

		<div id="javaex"></div>
		
		<!-- jQuery -->
		<script src="/lib/jquery-3.3.1/jquery-3.3.1.js"></script>
		<script src="/lib/jquery-migrate/jquery-migrate-3.1.0.min.js"></script>
		<!-- jQuery UI Interactions -->
		<script src="/lib/jquery.ui/jquery-ui.min.js"></script>
		<!-- Bootstrap -->
		<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
		
		<script type="text/javascript">

			// ******************************동적으로 조회 조건 추가!!
			function genSearchData(){
				var params = document.getElementsByName("searchParams");
				var htmlText='';
				var names;
				var ids;
				for(var i=0;params.length;i++){
					if(params[i].checked==true){

						if(params[i].value=='p_age') {names='ageFrom'; values='나이';}
						else if(params[i].value=='p_bmi') {names = 'bmiFrom'; values='BMI';}
						else if(params[i].value=='systole_bp') {names = 'systoleFrom';values='수축기 혈압';}
						else if(params[i].value=='relax_bp') {names = 'relaxFrom';values='이완기 혈압';}
						else if(params[i].value=='ast') {names = 'astFrom';values='AST';}
						else if(params[i].value=='alt') {names = 'altFrom';values='ALT';}

						htmlText ='<tr>\
										<th>'+values+'</th>\
										<td> <select class="form-control inline-block w100">\
												<option value="">선택</option>\
												<option value=">"> > </option>\
												<option value="<"> < </option>\
												<option value="="> = </option>\
												<option value="<="> <= </option>\
												<option value=">="> >= </option>\
												<option value=">="> <> </option>\
												<option value=">="> between </option>\
											</select>\
											<input type="text" name="'+names+'" id = "'+params[i].value+'" class="form-control inline-block w200" onfocusout="cntFunc(\''+names+'\')"</td>\
										<th>대상자</th>\
										<td> <div id="'+names+'"></div></td>\
									</tr>';

						$('tbody').append(htmlText);
					}
					$( "#searchDialog" ).dialog( "close" );
				}
				
				// document.getElementById('paramsList').innerHTML = htmlText;
			}

			function cntFunc(names){
				// var array = new Array();
				var queryString="";
				try{
					for(var i=0;document.getElementsByClassName('form-control inline-block w200').length;i++){


						// 파라미터 셋팅
						queryString += document.getElementsByClassName('form-control inline-block w200')[i].id+'='+document.getElementsByClassName('form-control inline-block w200')[i].value;
						if(i<document.getElementsByClassName('form-control inline-block w200').length-1){
							queryString+="&";
						}
						// // 마지막 조회조건 판별
						// if(!document.getElementsByName("serachParam2")[i].value){
						// 	var lastParam = document.getElementsByName("serachParam2")[i].id.replace('p_bmi','bmiFrom').replace('p_age', 'ageFrom').replace('systole_bp','systoleFrom').replace('relax_bp','relaxFrom').replace('ast','astFrom').replace('alt','altFrom');
						// }
					}
				}catch{
					var sex = $('#searchPhr input[name=sex]:checked').val();
					queryString+='&sex='+sex;
					console.log(queryString);

					// JSON.stringify(array);
					var client = new XMLHttpRequest();

					client.onreadystatechange = function(){
							if(client.readyState===client.DONE){
								if(this.status===200 || this.status==201){
									// alert('해당 조건으로 '+client.responseText+' 건 조회됩니다.');
									eval(names).innerHTML=client.responseText.replace('"','').replace('"','')+' 건';
								}else{
									alert('error!!');
								}
							}
						};
					client.open('POST', '/company/cntCheck',true);
					client.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
					client.send(queryString);
		        }	
			}
				

			// 켈린더 셋업
		    $(function(){
		    	$("#deadLine").datepicker({
				  dateFormat: "yy-mm-dd", 	 // 텍스트 필드에 입력되는 날짜 형식.
				  showMonthAfterYear: true , // 월, 년순의 셀렉트 박스를 년,월 순으로 바꿔준다. 
				  dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'], // 요일의 한글 형식.
				  monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
				  monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월']
				 });
		    });
		
			// 입력 파라미터 Validation
		    (function(){
		        $(document).ready(function() {

		            $('#searchPhr input[type=submit]').on('click',function(){

						var $requestPurpose = $('#searchPhr select[name=requestPurpose]');
						var $deadLine = $('#searchPhr input[name=deadLine]');
						var $requireCnt = $('#searchPhr input[name=requireCnt]');
						
						if(!$requestPurpose.val()){
							alert("활용목적을 선택하세요.");
							$requestPurpose.focus();
							return false;
						}
						if(!$deadLine.val()){
							alert("마감일자를 선택하세요.");
							$deadLine.focus();
							return false;
						}
						if(!$requireCnt.val()){
							alert("필요한 PHR 건수를 입력하세요.");
							$requireCnt.focus();
							return false;
						}
						// else{
						//     if(Number($requireCnt.val())%100!=0){
						//         alert("요청 PHR 건수를 100단위로 입력하세요.");
						//         $requireCnt.focus();
						//         return false;
						//     }
						// }

						if(confirm('해당 조건으로 데이터를 신청합니까?')) return true;
						else {
							return false
						};
		            });
		        });
		    })();
		    
		    // 다이얼로그 설정
		    $( function() {
	            $( "#searchDialog" ).dialog({
	                autoOpen: false,
	                resizable: false,
	                height: "auto",
	                width: 800,
	                modal: true
	            });
		        $( "#searchDialogBtn" ).on( "click", function() {
		            $( "#searchDialog" ).dialog( "open" );
				});
				
				$( "#cancelBtn" ).on( "click", function() {
		            $( "#searchDialog" ).dialog( "close" );
				});

				// $('#searchPhr input[name=sex]').on('focusout',function(){
				// 	alert('ddfdfdf');

				// });
				// $('#searchPhr input[name=p_bmi]').on('focusout',function(){
				// 	alert('ddfdfdf');
				// });
			});
			
		</script>
	</body>
</html>

