<!doctype html>
<html lang="ko">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- favicon -->
		<link rel="shortcut icon" href="/images/favicon/favicon.ico">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" href="/images/favicon/apple-icon-57x57.png">
	
	    <title>데이터 거래소 시스템</title>
	    <link href='http://fonts.googleapis.com/css?family=Margarine' rel='stylesheet' type='text/css'>
	    
	    <!-- CSS -->
	    <link href="/lib/font-awesome/css/all.css" rel="stylesheet">
	    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
	    <link href="/lib/jquery.ui/jquery-ui.css" rel="stylesheet">
	    <link href="/lib/jquery.ui/jquery-ui.theme.css" rel="stylesheet">
		<link href="/styles/style.css" rel="stylesheet">
	</head>
	<body>
	    <header>
	        <div class="user-area">
	        	<div class="container">
	        		<h3 class="user-info"><i class="fa fa-user-circle"></i>Welcome <span id="userNm"><%=userNm%></span></h3>
	        		<a class="btn btn-white outline btn-25" href="/user/logout">Logout</a>
	        	</div>
	        	
	        </div>
	        <div class="nav-area">
	        	<div class="container">
	        		<h1><img src="/images/common/logo.png" alt="KODA 메디칼 데이터 거래소 및 분석 시스템"></h1>
	        		<nav id="mainGnb">
	        			<ul>
	                        <li><a href="/company/searchPhr"><i class="fab fa-wpforms"></i>Medical Data Application</a></li>
	                        <li class="active"><a href="/company/requestData"><i class="fab fa-stack-overflow"></i>Medical data application status</a></li>
	                    </ul>
	        		</nav>
        		</div>
        	</div>
	    </header>
	
	    <div class="container">
	    	<h2 class="sub-title">
				<span>Detail status of medical data applications (company)</span>
			</h2>
			
			<h3 class="small-title"><%=comNm%></h3>
			<table class="form-table">
				<caption>Current status of medical data applications</caption>
				<colgroup>
					<col style="width:12%;" />
					<col style="width:38%;" />
					<col style="width:12%;" />
					<col style="width:38%;" />
				</colgroup>
				<tbody>
					<tr>
						<th>Type</th>
						<td><%=requestdetail.purpose%></td>
						<th>Status</th>
						<td>
							<!--
							<span class="color_blue bold">수신중</span>
							<span class="color_dgreen bold">완료</span>
							-->
						<% if (requestdetail.requestYn=='N' || requestdetail.requestYn=='R' ){ %>
							<span class="color_red bold">Apply</span>
						<%}else if(requestdetail.requestYn=='Y'){%>
							<span class="color_dgreen bold">Complete</span>
						<%}else if(requestdetail.requestYn=='P'){%>	
							<span class="color_blue bold">Proceeding</span>
						<%}else if(requestdetail.requestYn=='F'){%>	
							<span class="color_red bold">Incomplete</span>								
							<button class="btn btn-purple btn-25 lm20 w50" onclick='updateDeadline(<%=requestdetail.seq %>)'>Edit</button>
						<%}%>
						</td>
					</tr>
					<tr>
						<th>Request date</th>
						<td><%=requestdetail.requestDt%> <%=requestdetail.requestTime%></td>
						<th>Deadline</th>
						<td>
							<!-- disabled 추가 시 input 효과 사라짐 -->
							<div class="input-group">
								<input type="text" id="deadLine" class="form-control" name="deadLine" size="20" placeholder="마감일자를 선택하세요" value="<%= requestdetail.deadLine %>" readonly/>
								<span class="input-group-addon">
									<i class="fa fa-calendar bigger-110"></i>
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<th>Applicable number</th>
						<td><%=requestdetail.requestCnt%></td>
						<th>Number of request and status</th>
						<td>
							<!-- 
								수신중 :  	progress-bar-info
								완료 : 		progress-bar-success
								미완료 : 	progress-bar-danger
 							 -->
							  <div class="progress">
									<div class="progress-bar <%= requestdetail.requestYn == 'Y' ? 'progress-bar-success' : requestdetail.requestYn == 'P' ? 'progress-bar-info' : requestdetail.requestYn == 'F' ? 'progress-bar-danger' : ''  %> " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: <%=requestdetail.ratio%>%"><%=requestdetail.responseCnt%></div>
							</div>
							<!-- 
								수신중 :  	color_blue
								완료 : 		color_dgreen
								미완료 : 	color_red
							-->
							<span class="<%= requestdetail.requestYn == 'Y' ? 'color_dgreen' : requestdetail.requestYn == 'P' ? 'color_blue' : requestdetail.requestYn == 'F' ? 'color_red' : ''  %> "><%=requestdetail.requireCnt%></span>
							<!-- <span class="color_blue">1,000</span> -->
							<!-- <span class="color_dgreen">1,000</span> -->
							<!-- <span class="color_red">1,000</span> -->
						</td>
					</tr>
				</tbody>
			</table>
			
			<h3 class="small-title tm60">Request informations</h3>
			<table class="form-table">
				<caption>조회 조건</caption>
				<colgroup>
					<col style="width:12%;" />
					<col style="width:38%;" />
					<col style="width:12%;" />
					<col style="width:38%;" />
				</colgroup>
				<tbody>
					<tr>
						<th>Number</th>
						<td><%= requestdetail.num %></td>
						<th>Gender</th>
						<td><%= requestdetail.sex %></td>
					</tr>
					<tr>
						<th>Age</th>
						<td>more than <%= requestdetail.ageFrom %></td>
						<th>BMI</th>
						<td>more than <%= requestdetail.bmiFrom %></td>
					</tr>
					<tr>
						<th>Systolic blood pressure</th>
						<td>more than <%= requestdetail.systoleFrom %></td>
						<th>Diastolic blood pressure</th>
						<td>more than <%= requestdetail.relaxFrom %> </td>
					</tr>
					<tr>
						<th>AST</th>
						<td>more than <%= requestdetail.astFrom %></td>
						<th>ALT</th>
						<td>more than <%= requestdetail.altFrom %></td>
					</tr>
					<tr>
						<th>Rewards</th>
						<td colspan="3" style="height:80px; vertical-align:top;">	
							<%= requestdetail.rewardDesc %> 
						</td>
					</tr>
				</tbody>
			</table>
							
			<h3 class="small-title tm60">Log</h3>
			<table class="list-table" id="dataTable" width="100%" cellspacing="0">
				<thead>
				    <tr>
				        <th width="6%" >Number</th>
				        <th width="25%">Hospital</th>
				        <th width="auto">Detail informations</th>
				        <th width="13%">Generated time</th>
				    </tr>
				</thead>
                <tbody>

					<% logDetails.forEach(function(log) { %>
						<tr>
							<td><%= requestdetail.seq %></td>
							<td><%= log.from %></td>
							<td class="tal"><%= log.messageDetail %></td>
							<td><%= log.create_dt %></td>
						</tr>
					<% }) %>

                </tbody>
			</table>
			
			<div class="tm60 bm60 tac">
				<a href="/company/requestData" class="btn btn-purple w120">List</a>
			</div>
		
		</div>

		<div id="javaexe"></div>
		
	    <!-- jQuery -->
		<script src="/lib/jquery-3.3.1/jquery-3.3.1.js"></script>
		<script src="/lib/jquery-migrate/jquery-migrate-3.1.0.min.js"></script>
		<!-- jQuery UI Interactions -->
		<script src="/lib/jquery.ui/jquery-ui.min.js"></script>
		<!-- Bootstrap -->
		<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
		
		<script type="text/javascript">
			function updateDeadline(seq){
				if(confirm('Will you amend the Close date ?')){
					
					var client = new XMLHttpRequest();
						var params = '&seq='+seq+'&deadLine='+$("#deadLine").val();
						
						// https://www.zerocho.com/category/HTML&DOM/post/594bc4e9991b0e0018fff5ed 참고
						// https://www.w3schools.com/xml/ajax_xmlhttprequest_response.asp 참고
						client.onreadystatechange = function(){
							if(client.readyState===client.DONE){
								if(this.status===200 || this.status==201){
									// https://codeday.me/ko/qa/20190310/40850.html 참고
			
									//응답한 javascript 태그 삽입
									document.getElementById("javaexe").innerHTML = this.responseText;
									//실행
									eval(document.getElementById('sc1').innerHTML);
								}else{
									alert(client.responseText);
								}
							}
						};
			
						client.open('POST', '/company/updateDeadline',true);
						client.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
						client.send(params);
				}
			}

			$( function() {
				$("#deadLine").datepicker({
				  dateFormat: "yy-mm-dd", 		// 텍스트 필드에 입력되는 날짜 형식.
				  showMonthAfterYear: true , 	// 월, 년순의 셀렉트 박스를 년,월 순으로 바꿔준다. 
				  dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'], // 요일의 한글 형식.
				  monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
				  monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월']
				 }, 'disabled', true) ;
		 	});
		</script>
	</body>
</html>